name: codspeed-benchmarks

on:
  push:
    branches:
      - "master"
  pull_request:
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov pytest-codspeed
          # Install "cmake", "cython" for networkit. Must happen first:
          pip install --upgrade cmake cython
          pip install -e ".[sql]"

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          # token: ${{ secrets.CODSPEED_TOKEN }}
          run: pytest . --codspeed
